*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  font-size: 18px;
  background: #ff0000;
  width: 235px;
  height: 70px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #880101;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1000;
  overflow: hidden;
  overflow-y: auto;
  transition: all ease-in 0.2s;
}

.hidden {

  visibility: hidden;
  opacity: 0;
  transition: all ease-out 0.2s;
}

.popup-body {
  max-width: 900px;
  max-height: 560px;
  width: 92%;
  height: auto;
  background-color: #fff;
  top: 15%;
  margin: auto;
  position: relative;
  padding: 50px 50px;
  border-radius: 20px;
  box-sizing: border-box;
}

.popup-close {
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  color: red;
  font-size: 35px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  max-width: 100%;
}

.col-2 {
  display: flex;
  width: 550px;
  max-width: 550px;
  min-width: 200px;
  align-items: flex-end;
    padding-bottom: 30px;
}

.popup-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 2.8125rem;
  color: #000;
  margin: 0;
  margin-bottom: 50px;
  text-align: left;
}

.col-1 img {
  float: left;
}

.files {
  position: relative;
  bottom: -30px;
  left: -20px;
}

.docs {
  z-index: 3;
}

.popup-form {
  width: 100%;
}

.popup-form label {
  display: block;
  margin-bottom: 10px;
}

.popup-form input {
  width: 100%;
  padding: 15px 15px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px;
  outline: none;
  font-size: 18px;
}

.popup-form button {
  position: relative;
  top: -10px;
  background: transparent;
  color: #fff;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

.popup-form button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #38D372;
  border-radius: 6px;
  z-index: -1;
}

.popup-form button::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 20px;
  background: #27b15b;
  bottom: -5px;
  border-radius: 15px;
  z-index: -3;
}

.popup-form button img {
  margin-left: 20px;
  width: 30px;
  height: 50px;
  object-fit: contain;
}

.file-size {
  display: flex;
  justify-content: space-evenly;
  color: #777;
  margin-top: 7px;
  font-size: 12px;
}

.error {
  margin-top: -25px;
  color: red;
  margin-bottom: 20px;
}


@media (max-width: 960px) {
  .popup-body {
    width: 33rem;
    max-height: unset;
    top: 5%;
  }

  .row {
    flex-direction: column;
  }
  .row img {
    float: none;
  } 

  .col-1 {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .col-2 {
    padding: 0;
    max-width: 100%;
  }

  .popup-title {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .files {
    left: 0;
    bottom: 0;
    margin-bottom: -50px;
  }

  .docs {
    zoom: 1.3;
  }

  .file-size {
    display: none;
  }
}

@media (max-width: 540px) { 
  .popup-body {
    width: 100%;
  }

  img {
    width: 100%;
  }
}